1 - Criar novo usuário
2 - Fazer Login / Logout
3 - Cadastrar itens
4 - Alterar itens
5 - Pesquisar itens
6 - Deletar itens
7 - Alterar visão de Acervo
8 - Buscar outros usuários
9 - Seguir acervo deoutro usuário
